.nav-bar {
  width: 100%;
  background: $background-01;
  // ------------------------------------------
  // Nav Title
  // ------------------------------------------
  .nav-bar--title {
    display: flex;
    padding: 25px 27px;
    color: $text-02;
    font-size: 1.5rem;

     > div {
        margin-right: 3px;
    }

    .nav-bar--title__bracket {
      color: $text-01;

      span {
        font-weight: $font-medium;
      }
    }
  }
}
